@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', sans-serif;
}

/* * {
    border: solid 1px black;
} */

body {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
    padding: 0;
    margin: 0;
    

}

button {
    cursor: pointer;
}

.calculator {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30px;
    width: 500px;
    height: 600px;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 20%);
    opacity: 80%;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    font-size: 34px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 30px;
    height: 120px;
    margin: 50px 50px 0 50px;
    padding-right: 30px;
}

.top-screen, .bottom-screen {
    text-align: right;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
    align-self: center;
    margin: 50px;
}

.fnBtns {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 5px;
}

.fnBtn, .fnBtnTwo {
    flex-grow: 1;
    text-align: center;
}

.numBtns {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    gap: 5px;
}

.numBtn {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100px;
}

#equals, #dot {
    width: 100px;
}

#dot {
    font-weight: 700;
}